<!DOCTYPE html>

<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
  <title>{% if page.title %} {{ page.title }} | {% endif %} Project Robot Playground </title>
  <link rel="icon" type="image/png" href="/assets/img/prp_logo_icon.png" />
  <link href="http://fonts.googleapis.com/css?family=Lato%7CRaleway:200,100%7COswald:300,400,700%7CActor"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/assets/css/mystyle.css" type="text/css" />
</head>
