.page {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  max-width: 1920px;
}

h1 {
  font-family: 'Acme', sans-serif;
  font-weight: 500;
  font-size: 4vw;
  color: #fe4a49;
  text-decoration: none;
  letter-spacing: 0px;
  line-height: 1.25em;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 3vw;
  color: #2ab7ca;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 0px;
  line-height: 1.5em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2.5vw;
  color: #afc97e;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1em;
  text-transform: none;
}

h4 {
  font-family: 'Acme', sans-serif;
  font-size: 2vw;
  color: #ffa500;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1em;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  color: #797979;
  line-height: 1.25em;
  text-transform: none;
  padding: 10px;
}

a {
  color: #2ab7ca;
  text-decoration: none;
}

img {
  text-align: center;
  float: none;
}

/* Header */
.header {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
  height: 500px;
  background-image: url("/assets/img/title_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-background {
  background: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 75%;
  position: relative;
  margin: auto;
  top: 15%;
}

.header img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  margin: auto;
  margin-top: -100px;
  margin-left: -250px;
}

/* Footer */

footer {
  padding-top: 10pt;
  padding-bottom: 10pt;
  padding-left: 10pt;
  padding-right: 10pt;
}

footer .footer-copyright {
  color: #585858;
  font-size: 1vw;
  text-decoration: none;
  text-align: right;
}

/* About section */
.about {
  padding: 0px;
  margin: 0px;
  background-color: #fe4a49;
  border-image-width: 0px;
}

.about h1 {
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  margin: 0px;
  padding-right: 8vw;
}

.about img {
  float: left;
  vertical-align: top;
}

.about p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

/* Features section */
.features {
  padding: 10px;
  margin: 0px;
  background-color: #afc97e;
}

.features ul {
  list-style: none;
  text-align: center;
}

.features li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

.features li img {
  height: 100px;
  padding-top: 30px;
  margin-top: 20px;
}

.features li p{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1em;
  text-transform: none;
  width: min-content;
}

/* Sets section */
.sets {
  padding: 10px;
  margin: 0px;
  background-color: #2ab7ca;
}

.sets h1 {
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  margin: 0px;
  padding-left: 12vw;
}

.sets p {
  margin: 0px;
}

.sets ul {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.sets li {
  display: inline-block;
  padding: 3vw;
  background-color: #ffffff;
  border-radius: 10px;
  width: 40vw;
  height: fit-content;
  text-align: center;
  vertical-align: top;
  margin: 20px;
}
.sets li img {
  width: 100%;
}

/* Subscribe */
.subscribe {
  padding: 10px;
  margin: 0px;
  background-color: #ffa500;
  text-align: center;
}
.subscribe h1 {
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  margin: 0px;
  padding-right: 8vw;
}
.subscribe p {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 20px; */
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.25em;
  padding: 4vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subscribe input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  color: #797979;;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 2em;
  text-transform: none;
  text-align: left;
  border: 0px;
  padding: 10px;
}

.subscribe button {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  color: #797979;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 2em;
  text-transform: none;
  text-align: left;
}

.clear {
  margin: 10px;
}
